{% extends 'base.html' %}

{% block content %}
<div class="container" data-aos="fade-up">
            <div class="img-fluid"><img src="{{ author.img.url }}" width="200"></div>
            <h2 class="title">{{ author.name }}</h2>
            <h5 class="description">{{ author.description }}</h5>
            <h3> Books:</h3> {% for book in author.book_set.all %}
            <ul>
                <li class=""><a href="{% url 'bookdetails' book.slug %}"> {{ book.title }}</a></li>
            </ul>
        {% endfor %}
    {% if user.is_staff %}
        <div>
            <ul>
                <li><a href="{% url 'editauthor' author.id %}">Edit</a></li>
                <li><a href="{% url 'deleteauthor' author.id %}">Delete</a></li>
            </ul>
        </div>
        </div>
    {% endif %}

{% endblock %}