{% extends 'base.html' %}

{% block content %}
    {% load static %}

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="container" data-aos="fade-up">

            <div class="row">
                {% for author in author_list %}
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <div class="img-fluid"><img src="{{ author.img.url }}" width="200"></div>
                            <h2 class="title"><a href="{% url 'authordetails' author.slug %}">{{ author.name }}</a></h2>
                            <h5 class="description">{{ author.description|truncatechars:255 }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
        </div>
    {% if user.is_staff %}
        <a href="{% url 'createauthor' %}">Add author</a>
    {% endif %}
{% endblock %}