{% extends 'base.html' %}

{% block content %}
    <h2> {{ category.name }}</h2>
    {% for book in category.book_set.all %}
        <ul>
            <li class=""><a href="{% url 'bookdetails' book.slug %}"> {{ book.title }}</a></li>
        </ul>
    {% endfor %}
    {% if user.is_staff %}
        <div>
            <ul>
                <li><a href="{% url 'editcategory' category.id %}">Edit</a></li>
                <li><a href="{% url 'deletecategory' category.id %}">Delete</a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}